.header {
    display: flex;
    flex-direction: row;
    width: calc(100% - 40px);
    padding: 20px 20px;
    background: var(--white);
    box-shadow: 0 -20px 20px 15px;
}

.header .right {
    display: flex;
    flex-direction: row;
}

.header .searchbar {
    flex: 1;
    text-align: center;
    align-self: center;
    margin: 0 15px;
}

.header .user-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    padding-right: 25px;
}

.header .user-box:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 5px;
    width: 5px;
    height: 5px;
    border: 2px solid var(--grey);
    border-color: transparent transparent var(--grey) var(--grey);
    border-radius: 2px;
    transform: translateY(-50%) rotate(-45deg);
}

.header .avatar {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    place-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: var(--blue);
    color: var(--white);
}

.header .info {
    display: flex;
    flex-direction: column;
}

.header .info h4 {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--blue);
    margin: 0;
}

.header .info p {
    color: var(--grey);
    margin: 0;
}

.header .notification {
    display: flex;
    flex-direction: column;
    align-self: center;
    cursor: pointer;
}

.header .notification img {
    height: 25px;
    fill: var(--grey)
}

.header .right {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
