body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar {
    background: var(--white);
    max-width: 200px;
    width: 100%;
    padding: 45px 40px;
    position: relative;
    transition: max-width .1s;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar > :nth-last-child(2) {
    flex: 1;
}

.sidebar.closed {
    max-width: 25px;
    padding: 45px 20px 25px;
}

.sidebar .toggle {
    width: 20px;
    height: 10px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: right .3s;
}

.sidebar.closed .toggle {
    right: 20px;
}

.sidebar .toggle:after,
.sidebar .toggle:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 6px;
    border: 4px solid;
    border-color: transparent transparent var(--grey) var(--grey);
    border-radius: 2px;
    transform: rotate(45deg);
    transition: transform .3s;
}

.sidebar .toggle:after {
    right: 10px;
}

.sidebar.closed .toggle:after,
.sidebar.closed .toggle:before {
    transform: rotate(-135deg);
}

.sidebar .sidebar-menu-item {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.sidebar .sidebar-submenu-item {
    font-size: 1.0rem;
    margin-left: 50px;
}

.sidebar .sidebar-submenu-item a {
    text-decoration: none;
    color: var(--grey);
}

.sidebar .sidebar-submenu-item:hover a {
    color: var(--blue);
}

.sidebar .sidebar-menu-item.active .icon-link p,
.sidebar .sidebar-submenu-item.active a {
    color: var(--blue);
}

.sidebar .sidebar-menu-item.active .icon-link img {
    filter: var(--filter-blue)
}

.sidebar.closed .icon-link p,
.sidebar.closed .sidebar-submenu-item a {
    display: none;
}
