.more-dropdown {
  position: relative;
}

.more-dropdown-options {
  z-index: 2;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: max-content;
  align-items: baseline;

  .image-button {
    width: 100%;
  }

  *:not(:last-child) .image-button {
    border-bottom: 2px solid #deeff7;
  }
}