.components-modal__frame {
  min-height: min(600px, 80%);
}

.room-filter.room-filter {
  margin: 3px 0 0;
}

form {
  display: flex;
  flex-direction: column;
}

.room-checkbox.room-checkbox {
  margin-left: 20px;

  &:first-of-type {
    margin-left: 0;
  }
}
