.soli-block-create-event {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #f1f1f1;
  background-color: #d6d6d6;
  gap: 1em;

  .date-time-picker-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;

    p {
      margin: 0;
    }
  }
}

.date-picker-button {
  position: relative;

  [type=button] {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 18px;
    padding: 0;
  }

  .components-datetime__date {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 1px 1px 5px #000;
    border-radius: 5px;
    z-index: 1;
  }

}

.time-picker-button {
  flex: 0 1 24px;

  > [type=button] {
    font-weight: bolder;
    font-size: 18px;
    padding: 0;
  }

  .components-time {
    display: flex;
    flex-direction: row;
    background: white;
    gap: 5px;
    position: relative;
    padding: 0;

    .components-base-control {
      border: none !important;
      width: 35px;
    }

    * {
      margin: 0 !important;
    }
  }
}

.dropdown {
  .triangle {
    width: 8px;
    height: 100%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top-color: black;
      top: calc(50% + 3px);
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .content {
    width: 100%;
    height: 150px;
    overflow: auto;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    box-shadow: 0 1px 4px -2px black;

    [type=button] {
      outline: none;
    }
  }
}

.repeat-end-date {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.repeat-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.generate-dates {
  .data-view-toggle {
    color: grey;
    border: 2px solid grey;
    border-radius: 2px;


    &.active {
      border-color: dodgerblue;
      color: dodgerblue;
    }
  }
}
