.soli-block-create-event {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #f1f1f1;
  background-color: #d6d6d6;
  gap: 1em;

  .date-time-picker-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;

    p {
      margin: 0;
    }
  }
}

.repeat-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.date-list + .repeat-options {
  justify-content: center;

  [type=button]:hover {
    color: #da1b1b;
    box-shadow: inset 0 0 0 1px #da1b1b;
  }
}
