.calendar-wrapper {
  transition: opacity .3s;

  &.loading{
    opacity: .5;
  }

}

.loadingtext {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  color: rgba(255,0,0,1);
  font-weight: 900;
  text-align: center;
  transform: translateY(-50%);
}
