.block-event-view {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 2px;
  gap: 1em;
  flex-wrap: wrap;

  div {
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
  }
}
