
.date-picker-button {
  position: relative;

  [type=button] {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 18px;
    padding: 0;
  }

  .components-datetime__date {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 1px 1px 5px #000;
    border-radius: 5px;
    z-index: 1;
  }

}
