.soli-block-create-event {
}

.repeat-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  z-index: 1;
}

.date-list + .repeat-options {
  justify-content: center;

  [type=button]:hover {
    color: #da1b1b;
    box-shadow: inset 0 0 0 1px #da1b1b;
  }
}

.components-button.is-secondary{
  background:#0000;
  box-shadow:inset 0 0 0 1px var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
  color:var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
  outline:1px solid #0000;
  white-space:nowrap;
}
.components-button.is-secondary:hover:not(:disabled,[aria-disabled=true]){
  box-shadow:inset 0 0 0 1px var(--wp-components-color-accent-darker-10, var(--wp-admin-theme-color-darker-10, #2145e6));
}

.components-button.is-primary:hover:not(:disabled){
  background:var(--wp-components-color-accent-darker-10, var(--wp-admin-theme-color-darker-10, #2145e6));
  color:var(--wp-components-color-accent-inverted, #fff);
}

.components-button.is-primary {
  background: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
  color: var(--wp-components-color-accent-inverted, #fff);
  outline: 1px solid #0000;
  text-decoration: none;
  text-shadow: none;
  white-space: nowrap;
}

.components-button {
  align-items:center;
  -webkit-appearance:none;
  background:none;
  border:0;
  border-radius:2px;
  box-sizing:border-box;
  color:var(--wp-components-color-foreground, #1e1e1e);
  cursor:pointer;
  display:inline-flex;
  font-family:inherit;
  font-size:13px;
  font-weight:400;
  height:36px;
  margin:0;
  padding:6px 12px;
  text-decoration:none;
  transition:box-shadow .1s linear;
}
