img.edit-icon {
  position: absolute;
  cursor: pointer;
  top: 0.5em;
  right: 1em;
  height: 1.4em;
}

img.edit-icon:hover {
  filter: invert(42%) sepia(94%) saturate(4637%) hue-rotate(179deg) brightness(89%) contrast(105%);
}

.date-list-view-item {
  display: grid;
  grid-column: 1/ span 6;
  grid-template-columns: subgrid;
  position: relative;
  font-size: 15px;

  &.past {
    color: #999999;
  }

  .location {
    color: #007cba;
    text-align: left;
    align-self: center;
    margin: 0;
    padding: 0;
    font-size: 9pt;
  }

}
