.image-button {
  min-width: 40px;
  min-height: 40px;
  justify-content: center;
  gap: 10px;
  line-height: 1em;

  &.label {
    box-shadow: none;
  }

  img {
    height: 21px;
    filter: invert(42%) sepia(94%) saturate(4637%) hue-rotate(179deg) brightness(89%) contrast(105%);
  }
}
